h3{
    font-size: 25px !important;
}



.book-list{
    margin-top: 64px;
}
.header-search-form{
    display: flex;
}
.book-img{
    width: 100%;
}
.meta{
    display: flex;
}
.book {
    border: 2px solid;
    margin: 12px;
}