body{
    margin: 0;
    padding: 0;
}

.header-search{
    text-align: center;
}
.product-name{
    font-size: 22px;
}
.product{
    text-align: center;
    overflow: hidden;
    background: #fff;
    border: 2px solid;
    margin: 10px;
}
.product-img{
    width: 100%; 
}
.product-list{
    margin-top: 64px;
}

#search-product{
    padding: 8px 125px;
    border-radius: 50px;
    border: 1px solid gray;
}
#search-product:focus{
    border: none;
}
.product-rate:before{
    content: '$ ';
    clear: both;
}
.header-search{
    margin-top: 36px;
}